table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: coral;
}

table tr td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 100px;
    text-align: center;
}
a {
    border-radius: 12px;
    padding: 5px;
}
form {
    margin-top: 15px;
}